**/*.sif
**/*.jar

ENHSP-Public/

**/output/pddl/*
**/output/libs/*
**/output

.vscode/
.idea/
.DS_Store

*.class
bin/src/main/resources/input/cost_models/*
bin/src/main/resources/input/logs/*
bin/*
!java_helpers/StatsExtractor.jar
!pddl_gen-1.0-SNAPSHOT-launcher.jar